/* Carousel styles */
.carousel {
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  padding: 20px;
  border-radius: 15px;
  background: linear-gradient(#e09c66, #d68a4a);
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 7px 7px rgb(54, 52, 52);
  width: 100%;
  color: black;
  margin: 10px 0px;
}

/* Responsive font size */
@media (max-width: 768px) {
  .carousel {
    font-size: 24px;
    padding: 30px 5px;
  }
}

/* Container for content sections */
.content-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}

.home-divider {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.home-divider h2 {
  margin: 0;
  font-family: Poppins, sans-serif;
  color: #df9a73;
}

@media (max-width: 768px) {
  .home-divider {
    letter-spacing: 0px;
    text-align: center;
    text-transform: none;
    margin: 0;
  }

  .home-divider h2 {
    font-size: 16px;
    font-weight: 600;
  }
}

/* Sections with alternating image and text */
.section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.image-right {
  flex-direction: row-reverse;
}

.image-left {
  flex-direction: row;
}

/* Image styling */
.section-image {
  width: 60%;
  border-radius: 50px;
  height: auto;
  object-fit: cover;
}

/* Text styling */
.section-text {
  width: 40%;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 1024px) {
  .section {
    flex-direction: column !important;
    text-align: center;
  }

  .section-image,
  .section-text {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .section-text h1 {
    font-size: 1.2rem;
  }

  .section-text h2 {
    font-size: 1rem;
  }
}

/* Testimonials section */
.testimonials {
  text-align: center;
  padding: 20px;
}

/* Feedback cards container */
.feedback-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

/* Individual feedback card */
.feedback-card {
  width: 330px;
  padding: 25px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
}

/* Responsive feedback card width */
@media (max-width: 768px) {
  .feedback-card {
    width: 100%;
  }
}

/* Feedback text */
.feedback-text {
  font-size: 16px;
  font-style: italic;
}

/* Feedback author */
.feedback-author {
  font-weight: bold;
  margin-top: 10px;
}

/* Star rating styling */
.rating {
  margin-bottom: 10px;
}

.home-banner-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 150px 0px;
  background: linear-gradient(#bc782a3b, rgba(191, 116, 18, 0.099)),
    url("https://images.unsplash.com/photo-1609501886186-d4de01248beb?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjd8fGNvb2tpZXN8ZW58MHx8MHx8fDA%3D")
      no-repeat center center/cover;
}

.home-banner-content {
  margin-top: 20px;
  margin-left: 30px;
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
}

.shop-button {
  margin-left: 0px;
  background-color: #e09b69 !important;
  color: black !important;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 20px 30px;
  box-shadow: 3px 3px rgb(54, 52, 52);
}
